<form [formGroup]="form" (ngSubmit)="submit()">
  <h1>Create new event</h1>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}"
  >
    <label for="title">Event name</label>
    <input id="title" type="text" formControlName="title">
    <div
      *ngIf="form.get('title').touched && form.get('title').invalid"
      class="validation">
      <small *ngIf="form.get('title').errors.required">
        Event name is required
      </small>
      <small *ngIf="form.get('title').errors.minlength">
        Event name must be minimum 3
      </small>
      <small *ngIf="form.get('title').errors.maxlength">
        Event name must be maximum 12
      </small>
    </div>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('type').touched && form.get('type').invalid}"
  >
    <label for="type">Event type</label>
    <select formControlName="type" id="type">
      <option
        *ngFor="let type of types"
        [value]="type.value">{{type.type}}
      </option>
    </select>
    <div
      *ngIf="form.get('type').touched && form.get('type').invalid"
      class="validation">
      <small *ngIf="form.get('type').errors.required">
        Event type is required
      </small>
    </div>
  </div>
  <div
    class="form-control"
    [ngClass]="{invalid: form.get('date').touched && form.get('date').invalid}"
  >
    <label for="date">Event Date</label>
    <input id="date" type="date" formControlName="date">
    <div
      *ngIf="form.get('date').touched && form.get('date').invalid"
      class="validation">
      <small *ngIf="form.get('date').errors.required">
        Event date is required
      </small>
    </div>
  </div>
  <div
    class="form-control"
    [ngClass]="{invalid: form.get('description').touched && form.get('description').invalid}"
  >
    <label for="description">Event description</label>
    <input id="description" type="text" formControlName="description">
    <div
      *ngIf="form.get('description').touched && form.get('description').invalid"
      class="validation">
      <small *ngIf="form.get('description').errors.required">
        Event description is required
      </small>
      <small *ngIf="form.get('description').errors.minlength">
        Event description must be minimum 3
      </small>
      <small *ngIf="form.get('description').errors.maxlength">
        Event description must be maximum 12
      </small>
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-block btn-dark"
    [disabled]="form.invalid"
  >Creat event</button>
</form>
