<div class="event">
  <div class="header">
    <h1>Event title</h1>
    <button routerLink="/user/dashboard" class="btn btn-link">Back to events</button>
  </div>
  <div class="info">
    <strong>Event here</strong>
    <small>02.02.2020</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dicta dolorum excepturi laudantium praesentium quae voluptates. Amet dolore fugiat hic maiores molestias qui sed voluptates! Consequatur distinctio eaque itaque modi natus quia sint voluptatibus? Aliquam autem beatae culpa, delectus earum eos inventore ipsum itaque sint ullam? A consectetur eaque ullam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dicta dolorum excepturi laudantium praesentium quae voluptates. Amet dolore fugiat hic maiores molestias qui sed voluptates! Consequatur distinctio eaque itaque modi natus quia sint voluptatibus? Aliquam autem beatae culpa, delectus earum eos inventore ipsum itaque sint ullam? A consectetur eaque ullam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dicta dolorum excepturi laudantium praesentium quae voluptates. Amet dolore fugiat hic maiores molestias qui sed voluptates! Consequatur distinctio eaque itaque modi natus quia sint voluptatibus? Aliquam autem beatae culpa, delectus earum eos inventore ipsum itaque sint ullam? A consectetur eaque ullam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dicta dolorum excepturi laudantium praesentium quae voluptates. Amet dolore fugiat hic maiores molestias qui sed voluptates! Consequatur distinctio eaque itaque modi natus quia sint voluptatibus? Aliquam autem beatae culpa, delectus earum eos inventore ipsum itaque sint ullam? A consectetur eaque ullam.</p>
  </div>
</div>
