.pagination {
	color: #eee;
	font-size: 18px;
	padding: 15px 25px 20px;

	.item {
		padding: 6px 9px;
		cursor: pointer;
		color: #222;
		border-radius: 3px;
		&.active {
			background-color: rgb(173, 173, 173);
		}
	}
	
	.action {
		color: #222;
		cursor: pointer;
	}

	.dots {
		padding: 0 3px;
		cursor: pointer;
	}
}