<!--<p>dashboard-page</p>-->

<!--<div class="events">-->
<!--  <app-event></app-event>-->
<!--  <app-event></app-event>-->
<!--  <app-event></app-event>-->
<!--  <app-event></app-event>-->
<!--  <app-event></app-event>-->
<!--</div>-->
<table>
  <thead>
  <tr>
    <th>#</th>
    <th>Event Name</th>
    <th>Event Description</th>
    <th>Date</th>
    <th>Event Type</th>
<!--    <th>Action</th>-->
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let event of events">
    <td>{{event.id}}</td>
    <td>{{event.name}}</td>
    <td>{{event.description}}</td>
    <td>{{event.date | date: 'medium'}}</td>
    <td>{{types[event.eventType - 1].type}}</td>
<!--    <td>-->
<!--      <button-->
<!--        class="btn btn-link"-->
<!--        [routerLink]="['/user', 'event', event.id, 'edit']"-->
<!--      >Edit</button>-->
<!--    </td>-->
  </tr>
  </tbody>
</table>
