<nav class="navbar bg-primary">
  <h1>
    {{fullName}}
  </h1>
  <ul *ngIf="auth.isAuthenticated()">
    <li routerLinkActive="active" *ngIf="isAdminUser" [routerLinkActiveOptions]="{ exact: true }">
      <a [routerLink]="['']">Events</a>
    </li>
    <li routerLinkActive="active" *ngIf="isAdminUser">
      <a [routerLink]="['/events', 'create']">Create Event</a>
    </li>
    <li>
      <a href="#" (click)="logout($event)">Logout</a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
